<div class="container mt-5">
    <div class="row" style="justify-content:center">
        <div class="col-md-4">
            <form action="/signup" method="POST" enctype="multipart/form-data">
                {{#if errorMessage}}
                <div class="error">{{{errorMessage}}}</div>
                {{/if}}
                <div class="form-row">
                    <div class="form-group mb-3">
                        <label for="name">User name</label>
                        <input type="text" class="form-control" id="name" placeholder="name" name="username">
                    </div>
                    <div class="form-group mb-3">
                        <label for="email">Email</label>
                        <input type="Email" class="form-control" id="email" placeholder="Email" name="email">
                    </div>
                    <div class="form-group mb-3">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="password"
                            name="password">
                    </div>
                    <div class="form-group mb-3">
                        <label for="avatar">Avatar</label>
                        <input type="file" class="form-control" id="avatar" placeholder="avatar" name="avatar">
                    </div>
                </div>
                <button type="submit" class="btn btn-secondary">Register</button>
            </form>
        </div>
    </div>
</div>