<div class="hero ">
    <div class="video-container mb-3">
        <video autoplay muted loop>
            <source src="./../images/Coastline.mp4" type="video/mp4" />
        </video>
        <div class="caption">
            <div class="center ">
                <h1>SAVI CATCH</h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <article class="mb-3 col-lg-4" id="indexArticle">

            <img src="./../images/logo1.jpg" id="indexInfoImg" alt="logo1">

            <h3>Connect with users</h3>
            <p>In SAVI Catch, you can connect with dozens of users that share their experiences and challenge
                each other
                to
                mind-bending puzzles.</p>
        </article>
        <article class="mb-3 col-lg-4" id="indexArticle">

            <img src="./../images/logo2.png" id="indexInfoImg" alt="logo2">

            <h3>Find Stashes</h3>
            <p>By following the instructions and solving the riddles, you will be awarded SAVI points to compete
                and
                challenge other users.</p>
        </article>
        <article class="mb-3 col-lg-4" id="indexArticle">

            <img src="./../images/logo3.png" id="indexInfoImg" alt="logo3">

            <h3>Compete</h3>
            <p>The more SAVI you earn the higher on the rankings you will be, Use the SAVI obtained to challenge
                other
                players and steal their SAVI.</p>
        </article>

    </div>

</div>