<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">SAVIcatch</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only"></span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Dropdown link
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Register</a>
                    <a class="dropdown-item" href="#">Log in</a>
                    <a class="dropdown-item" href="#">Log out</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Help</a>
            </li>
        </ul>
    </div>
</nav>

{{!-- <div>
    <h1>SAVIcatch</h1>
    <video src="./../public/images/Coastline.mp4" autoplay="autoplay"></video>
</div> --}}


<div class="bcVid ">
    <div class="row center">
        <div class="col-md-6">
            <h1>SAVIcatch</h1>

        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <article class="col-md-4">
            <img src="./../images/logo1.jpg" alt="logo1">
            <h3>Crea una cuenta</h3>
            <p>Crea una cuenta en línea o a través de la aplicación oficial de SAVIcatch para ver un mapa de los
                geocachés cercanos.</p>
        </article>
        <article class="col-md-4">
            <img src="./../images/logo2.png" alt="logo2">

            <h3>Crea una cuenta</h3>
            <p>Crea una cuenta en línea o a través de la aplicación oficial de SAVIcatch para ver un mapa de los
                geocachés cercanos.</p>
        </article>
        <article class="col-md-4">

            <img src="./../images/logo3.png" alt="logo3">

            <h3>Crea una cuenta</h3>
            <p>Crea una cuenta en línea o a través de la aplicación oficial de SAVIcatch para ver un mapa de los
                geocachés cercanos.</p>
        </article>

    </div>
</div>