{{!-- <div>
    <h1>SAVIcatch</h1>
    <video src="./../public/images/Coastline.mp4" autoplay="autoplay"></video>
</div> --}}


<div class="hero ">
    <div class="center">
        <h1>SAVI Catch</h1>
    </div>
</div>


<div class="container">
    <div class="row">
        <article class="mb-3 col-lg-4" id="indexArticle">
            <img src="./../images/logo1.jpg" id="indexInfoImg" alt="logo1">
            <h3>Crea una cuenta</h3>
            <p>Crea una cuenta en línea o a través de la aplicación oficial de SAVIcatch para ver un mapa de los
                geocachés cercanos.</p>
        </article>
        <article class="mb-3 col-lg-4" id="indexArticle">
            <img src="./../images/logo2.png" id="indexInfoImg" alt="logo2">

            <h3>Crea una cuenta</h3>
            <p>Crea una cuenta en línea o a través de la aplicación oficial de SAVIcatch para ver un mapa de los
                geocachés cercanos.</p>
        </article>
        <article class="mb-3 col-lg-4" id="indexArticle">

            <img src="./../images/logo3.png" id="indexInfoImg" alt="logo3">

            <h3>Crea una cuenta</h3>
            <p>Crea una cuenta en línea o a través de la aplicación oficial de SAVIcatch para ver un mapa de los
                geocachés cercanos.</p>
        </article>

    </div>
</div>