img {
  width: 100%;
}

.hero {
  background-image: url(./../images/city.jpg);
  background-size: contain;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.center>h1 {
  font-size: 70px;
  color: white;
  white-space: nowrap;
}

#indexArticle {

  text-align: center;
}

#indexInfoImg {
  height: 160px;
  width: 150px;
}

.thumbnailMap {
  background-color: black;
  height: 0;
  width: 100%;
  padding-bottom: 100%;
}

.stash {
  width: 100%;
}

.error {
  background-color: rgb(253, 72, 72);
  color: white;
  text-align: center;
  padding: 5px;
  margin-top: 20px;
}

.stashForm {
  display: flex;
  align-items: center;
  background-color: rgb(241, 99, 99);
  color: black;
  text-align: center;
  padding: 5px;
  margin-top: 20px;
  border-radius: 5px;
}