<div class="container mt-5">
    <div class="row" style="justify-content:center">
        <div class="col-md-4">
            <form action="/maps/create" method="POST">
                <div class="form-group mb-3">
                    <label for="name">Title</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Title of map">
                </div>

                <div class="form-group mb-3">
                    <label for="description">Description</label>
                    <textarea type="text" class="form-control" id="description" name="description"
                        placeholder="description of the map"></textarea>
                </div>

                <div class="form-group mb-3">
                    <label for="address">Address</label>
                    <input type="text" class="form-control" id="address" name="address" placeholder="Madrid, street Nº">
                </div>
                <div class="form-group mb-3">
                    <div class="row">
                        <div class="col-6">
                            <label for="lat">Latitude</label>
                            <input type="text" class="form-control" id="lat" name="lat" placeholder="0.0">
                        </div>
                        <div class="col-6">
                            <label for="lon">longitude</label>
                            <input type="text" class="form-control" id="lon" name="lon" placeholder="0.0">
                        </div>
                    </div>
                </div>

                <div class="form-group mb-3">
                    <label for="type">Type</label>
                    <select id="type" class="form-control" name="type">
                        <option value="PHYSICAL" selected>On site</option>
                        <option value="VIRTUAL">Virtual</option>
                    </select>
                </div>

                <button type="submit" class="btn btn-secondary">Add map</button>
            </form>
        </div>
    </div>
</div>
<script src="/js/geocode.js"></script>